{% extends 'wrapper.html' %}
{% block content %}

<!-- Example -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="container p-5 ">
  <!-- Card Start -->
  <div class="card-bg">
  <div class="row ">
      <div class="col-md-6 card ">
        <div id="CarouselTest" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
            <li data-target="#CarouselTest" data-slide-to="1"></li>
            <li data-target="#CarouselTest" data-slide-to="2"></li>
            
          </ol>
          <div class="carousel-inner mt-3">
            {% for i in room.room_photos.all %}

            {% if forloop.first %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
            <div class="foto" style="width: 650px; height: 350px;">
              <img class="d-block" src="{{ i.image.url }}" width="100%" height="100%" alt="">
            </div>
            </div>
            {% endfor %}
            
            
            <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          </div>
        </div>
        <form action="" method="post" class="form mt-3 p-3" style="margin-left: 3%;" enctype='multipart/form-data'>{% csrf_token %}
          <!-- <button  class="btn btn-gradient-info ml-5"  onclick="document.getElementById('getFile').click()">Rasm qo'shish <i class="icon-lg mdi mdi-library-plus"></i></button> -->
          <input type='file' id="getFile" name="image" >
          <button type="submit" class="btn btn-gradient-success   ml-5">Yuklash <i class="icon-lg mdi mdi-upload"></i></button>
        </form>
        <!-- <div class="card-"> -->
          <!-- <div class="card"> -->
            <div class="card-body">
              <form class="forms-sample" method="post" action="">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Xona nomi</label>
                  <div class="col-sm-9">
                    <input type="text" value="{{ room.name }}" class="form-control" name="name" id="exampleInputUsername2" placeholder="Xona nomi (1-xona)">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Xona egasi</label>
                  <div class="col-sm-9">
                    <input type="text" value="{{ room.owner }}" class="form-control" name="owner" id="exampleInputEmail2" placeholder="Xona egasi">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Manzil</label>
                  <div class="col-sm-9">
                    <input type="text" value="{{ room.adres }}" class="form-control" name="adres" id="exampleInputMobile" placeholder="Manzil">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputPassword2" class="col-sm-3 col-form-label">O'lchami </label>
                  <div class="col-sm-9">
                    <input type="text" value="{{ room.size }}" class="form-control" name="size" id="exampleInputPassword2" placeholder="O'lchami">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Xona haqida</label>
                  <div class="col-sm-9">
                    <textarea name="description" id="" class="form-control" cols="30" rows="4">{{ room.description }}</textarea>
                  </div>
                </div>
              
                <a href="#" class="btn btn-gradient-success">Bron qilish</a>
                <button type="submit" class="btn btn-gradient-primary me-2">O'zgartirish</button>
              </form>
            </div>
          </div>
        </div>
      
      <div class="col-md-6 card">
        <form action="" class="form mt-3 p-3">
          <div class="form-group">
            <label for="exampleFormControlSelect2">Default select</label>
            <select class="form-control" id="exampleFormControlSelect2">
              <option>1</option>

            </select>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Date of Birth</label>
            <div class="col-sm-9">
              <input class="form-control" placeholder="dd/mm/yyyy" />
            </div>
          </div>
        </form>
      </div>


      </div>

  
      <!-- End of carousel -->
    </div>
  </div>
  
  <!-- End of card -->

 




<style>
  body {
  background-color:  #eee;
}
.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.card-bg{
  background: #eee;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; */
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.btn {
  margin-top: auto;
}
</style>

{% endblock %}